	@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Crimson+Text&display=swap');


*{
	
	box-sizing: border-box;
	margin:0px;
	padding:0px;
	font-family: 'Andada Pro', serif;
	font-family: 'Crimson Text', serif;
	
}

html,body{
		box-sizing: border-box;
	animation-fill-mode: forwards;
	animation-name: megjelenes;
	animation-duration: 0.5s;
}


@keyframes megjelenes {
  from {
	    transform: scale(0, 0);

	}
  to {
	    transform: scale(1, 1);

	}
}

@keyframes eltunes {
  from {
	    transform: scale(1, 1);

	}
  to {
	    transform: scale(0, 0);

	}
}



nav{
	z-index:400;
}navbar{
	z-index:400;
}


#oldal{

position:fixed;
left:0px;
top:62px;
width:100%;
height:calc(100% - 62px);
/*max-height:calc(100vh - 62px);*/
margin:0 auto;
text-align:center;
/*background-color:lime;*/
display:flex;
align-items:center;
justify-content:center;

/*background-color:cyan;*/

}



#tartalom{
	
	position:absolute;
	/*left:300px;*/
	/*background-color:lime;*/
	height:100%;
	padding:24px;
	
	width:100%;
	max-width:1366px;
	/*width:calc(100% - 300px);*/
	

	/*background-color:pink;*/
}


#tartalomBlokk{
		overflow-y:scroll;
		max-height:100%;

}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	overflow:scroll;

	height:100%;
}

td, th {
    text-align:center;
	padding: 8px;
}

.kellekekBlokkTartalomAdatok{
	border-bottom:1px solid rgba(200,200,200,0.7);
	height:100%;
}

tr:nth-child(even) {
	background-color: rgba(240,240,240,1);
}

#uj{
	display:none;
	/*display:flex;*/
	position:absolute;
	z-index:48;

	right:0%;
	/*width:calc(100% - 300px);*/
	width:100%;
	top:62px;
	height:calc(100% - 62px);
	background-color:rgba(255,255,255,1);
	backdrop-filter: blur(1px);
	justify-content: center;
	align-items: center;
	overflow:auto;
}

#ujMegse,#modositMegse{
		width: 90%;
	height:40px;
	border:none;
	border-radius:6px;
	margin-top:12px;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

#ujtartalom{
	width: 100%;
	
	max-width:80%;
	height: auto;
	display: block;
	text-align: center;
	overflow:auto;

}
#ujtartalom input[type="text"],input[type="number"],input[type="date"], select{
	margin:4px;
	width: 90%;
	height:40px;
	border:1px solid rgba(0,0,0,0.6);
	border-radius:6px;
	padding-left:12px;
}

#ujtartalom input[type="submit"]{
	width: 90%;
	height:40px;
	border:none;
	border-radius:6px;
	margin-top:12px;
	    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

#ujtartalom input[type="reset"]{
	width: 90%;
	height:40px;
	border:0px;
	border-radius:6px;
	margin-top:12px;
	color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

#modositoDiv{
	display:none;
	/*display:flex;*/
	position:absolute;
	z-index:48;

	right:0%;
	/*width:calc(100% - 300px);*/
	width:100%;
	top:62px;
	height:calc(100% - 62px);
	background-color:rgba(255,255,255,1);
	backdrop-filter: blur(10px);
	justify-content: center;
	align-items: center;
}
li {
	/*padding: 10px;
	border-bottom: solid black 1px;*/
	
}

a{
	text-decoration:none;
}
#kategoriak{
	width: 20%;
	margin-right:20px;
	height: 100%;
}

@media only screen and (max-width: 768px) {
  



  #tartalom{
	  /*background-color:cyan;*/
	  left:0px;
	  width:100%;
  }
  
  #uj{
	  width:100%;
  }  
  
  #modositoDiv{
	  width:100%;
  }
  
  .sorKozepre{
	  display:block;
  }
  
  .statisztikaBlokk{
	  
	  background-color:red;
	  width:100%;
  }
  
  .statisztikaBlokk .statisztikaBlokkJobb img{
	
	width:auto;
	max-height:50px;
	filter:invert();
	
	}

	.kategoriakBlokk{
		
		height:auto;
		
	}

	.kategoriakBlokkTartalom{
		background-color:red;
		height:AUTO;
		max-height:calc(100% - 62px);
		overflow:auto;
	}
  
} 


